body {
  background-color: #323d3f;
  color: #000;
  font-family: "Runy Tunes Revisited NF", sans-serif;
}

h1 {
  color: #e34234;
  font-family: "Runy Tunes Revisited NF", sans-serif;
  font-size: 60px;
  text-align: center;
}

footer {
  background-color: #fff;
  color: #000;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
}

.game-container {
  background-color: #fcd6a5;
  border: 4px solid #99a3af;
  height: 600px;
  width: 600px;
}
